{
    "react-native-google-mobile-ads": {
      "ios_app_id": "ca-app-pub-xxxxxxxx~xxxxxxxx",
      "android_app_id": "ca-app-pub-xxxxxxxx~xxxxxxxx",
      "delay_app_measurement_init": true,
      "user_tracking_usage_description": "許可することで、より関連性の高い広告を表示することができるようになります。"
    }
}